@import url("content__list/content__list.css");

.content__details {
  width: 100%;
}

.title {
  margin-bottom: 26px;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  position: relative;
  color: #545050;
}

.content__accent::after {
  content: "-";
  position: absolute;
  top: 8px;
  right: -28px;
  display: block;
}