.button {
  height: 34px;
  border: 1px solid #fff;
  padding: 0;
  color: #fff;
  font-family: "Fira Sans Condensed";
  font-weight: 700;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration-line: underline;
}

.button:active {
  text-decoration-line: none;
  background: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}